<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    
    <link rel="stylesheet" th:href="@{/css/source_style.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar1_style.css}">
    <link rel="stylesheet" th:href="@{/css/facade_style.css}">
 
</head>

<body>
    <header>
        <div class="facade">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>

        </div>
    </header>

    <main>
        <section class="sidebar">
            <nav>
                <ul>
                    <li>
                        <div>
                            <img th:src="@{/image/icon/produto.png}" alt="logo" style="width:40px;">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img th:src="@{/image/icon/pedido_1.png}" alt="logo" style="width:40px;">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img th:src="@{/image/icon/estoque.png}" alt="logo" style="width:40px;">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img th:src="@{/image/icon/clientes.png}" alt="logo" style="width:40px;">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img th:src="@{/image/icon/funcionario.png}" alt="logo" style="width:40px;">
                        </div>
                    </li>
                </ul>
            </nav>
        </section>
       
    </main>

</body>

</html>